@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  gap: 34px;
  background-color: orange;
  color: white;
}

li {
  list-style: none;
  padding: 23px;
}

.red {
  background-color: red;
}